<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061827617539-k6ibhn79bp95c6igkkqu7ohkbad98rvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061827617539-k6ibhn79bp95c6igkkqu7ohkbad98rvn</string>
	<key>API_KEY</key>
	<string>AIzaSyC1tpPNPKLlxn96PDETS4rwUuDdhS8COXM</string>
	<key>GCM_SENDER_ID</key>
	<string>1061827617539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appstirr.fasedapp</string>
	<key>PROJECT_ID</key>
	<string>fased-01</string>
	<key>STORAGE_BUCKET</key>
	<string>fased-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061827617539:ios:e9c6e48b195cfcfbb87f36</string>
</dict>
</plist>